@import "tailwindcss";
@import "./styles/layout.css";
@import "./styles/typography.css";

@import "./styles/components.css";

:root {
  --fcms-primary: #0070f4;
  --fcms-primary-bg: #0061e610;
  --fcms-secondary: #ff5b79;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-yellow: #f6e05e;

  --container-8xl: 96rem;
  --container-desktop: 1024px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-indigo-200);

  /* Simplying our project with on custom breakpoint TailWind class.*/
  --breakpoint-desktop: 1024px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* From here we using some TailWind logic */
